.git
build
dist
dist.*
wheelhouse
examples
mnist.pkl.gz
__pychache__
*.egg-info
.*env
activate
*.pkl.gz
*.png
tsne/*.so
tsne/bh_sne.cpp
tsne/bh_sne_3d.cpp
tsne/bh_sne_src/*.o
tsne/bh_sne_src/bh_tsne
tsne/bh_sne_src/bh_tsne_3d
**/*.idea