*.py[cod]

# C extensions
*.so
*.o

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# IPython Notebook
.ipynb_checkpoints

# Project specific
tsne/bh_sne.cpp
tsne/bh_sne_3d.cpp
tsne/bh_sne_src/bh_tsne
*.pkl.gz
.cache

_version.py.bld
wheelhouse